*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.5rem;
    font-family:sans-serif;
    text-align: center;
}
header{
    height: 100px;
    background-color: black;
    color: white;
    padding-top: 18px;
    font-size: 2rem;
    font-family: 'Times New Roman';
    text-shadow: 8px 0 5px orangered;
}
span{
    color: orangered;
    text-shadow: 7px 0 5px white;
}
.container{
    min-height: 100vh;
    background-image: url(trainstation.jpg);
    background-size: cover;
}
.main{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.411);
    padding-top: 100px;
    color: white;
    font-size: 1.5rem;
    font-family:sans-serif;
    text-shadow: 5px 0 5px crimson;
    
}
h2{
    font-size: 3.5rem;
    color: rgb(211, 247, 10);
    text-shadow: 5px 0 5px crimson;
}
button{
    height: 50px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 25px;
    padding-bottom: 55px;
    background-color:orangered;
    color: white;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 2rem;
}
button:hover{
    background-color: blue;
    color:white;
}
@media (max-width: 320px){
     
}
@media (max-width: 480px){
     
}
@media (max-width: 640px){
     
}